<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs
      [items]="['Subscription User', 'Details', subscriptionUser._id]"
      icon="pencil-square-o"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
    ></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">
      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [deletebutton]="false"
        >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>{{ isUpdate ? 'Edit' : 'Create A New Subscription User' }}</h2>
          </header>

          <!-- widget div-->
          <div>
            <form
              #subscriptionItemForm="ngForm"
              [saUiValidate]="validationUser"
              novalidate="novalidate"
              (ngSubmit)="saveUser(subscriptionUserForm.value)"
            >
              <div class="smart-form">
                <!-- widget content -->
                <div class="widget-body no-padding">
                  <fieldset>

                    <div class="row">
                      <section class="col col-3">
                          User
                          <ng-multiselect-dropdown
                            name="userId"
                            [placeholder]="'Select User'"
                            [data]="users"
                            [(ngModel)]="selectedUser"
                            [settings]="dropdownSettingsUsers"
                          >
                          </ng-multiselect-dropdown>
                      </section>
                      <section class="col col-3">
                          Subcription
                          <ng-multiselect-dropdown
                            name="subcriptionPlanId"
                            [placeholder]="'Select Plan'"
                            [data]="subscriptionPlans"
                            [(ngModel)]="selectedSubscriptionPlan"
                            [settings]="dropdownSettingsSubscriptionPlans"
                          >
                          </ng-multiselect-dropdown>
                      </section>
                      <section class="col col-3">   
                          Frequency
                          <ng-multiselect-dropdown
                            name="typeId"
                            [placeholder]="'Select Type'"
                            [data]="optionsFrequency"
                            [(ngModel)]="selectedFrequency"
                            [settings]="dropdownSettingsFrequency"
                          >
                          </ng-multiselect-dropdown>
                      </section>
                      <section class="col col-2">
                          Status
                          <ng-multiselect-dropdown
                            name="typeId"
                            [placeholder]="'Select Type'"
                            [data]="optionsUserStatus"
                            [(ngModel)]="selectedUserStatus"
                            [settings]="dropdownSettingsUserStatus"
                          >
                          </ng-multiselect-dropdown>
                      </section>
                    </div>

                    <div class="row">
                      <section class="col col-3">
                        Start Date
                        <label class="input">
                          <input
                            type="text"
                            name="dateStart"
                            id="dateStart"
                            placeholder="Date Start"
                            bsDatepicker
                            [bsValue]="subscriptionUser.dateStart"
                            [(ngModel)]="subscriptionUser.dateStart"
                            autocomplete="off"
                          />
                        </label>
                      </section>
                      <section class="col col-3">
                        End Date
                        <label class="input">
                          <input
                            type="text"
                            name="dateEnd"
                            id="dateEnd"
                            placeholder="Date End"
                            bsDatepicker
                            [bsValue]="subscriptionUser.dateEnd"
                            [(ngModel)]="subscriptionUser.dateEnd"
                            autocomplete="off"
                          />
                        </label>
                      </section>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>

            <!-- Tab content -->
            <div class="widget-body">
              <ul id="myTab1" class="nav nav-tabs bordered">
                <li [class.active]="state.tabs.demo1 === 0">
                  <a (click)="state.tabs.demo1 = 0"
                    ><i class="fa fa-fw fa-lg fa-pencil-square"></i>
                    Subscriptions</a
                  >
                </li>
              </ul>

              <tabset class="padding-10">
                <!-- Subscription User Table -->
                <tab [active]="state.tabs.demo1 === 0">
                  <sa-datatable
                    [options]="tableOptionsUsers"
                    tableClass="table table-striped table-bordered table-hover"
                    paginationLength="true"
                  >
                    <thead>
                      <tr>
                        <th [style.width]="'200px'" data-hide="mobile-p">Id</th>
                        <th [style.width]="'10%'">Name</th>
                        <th [style.width]="'20%'">Frequency</th>
                        <th [style.width]="'10%'">Status</th>
                        <th [style.width]="'10%'">Start</th>
                        <th [style.width]="'10%'">End</th>
                        <th data-class="expand">Created</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Frequency</th>
                        <th>Status</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Created</th>
                      </tr>
                    </tfoot>
                  </sa-datatable>
                </tab>
                <!-- //Subscription User Table -->
              </tabset>
            </div>
            <!-- end Tab content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
