<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Subscription', 'User']" icon="columns" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <sa-stats></sa-stats>
    </div>

    <sa-widgets-grid>

        <div class="row">
            <article class="col-sm-12">
                
                <div sa-widget [editbutton]="false" [deletebutton]="false" color="darken">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Subscription Users</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <sa-datatable 
                                [options]="options" 
                                tableClass="table table-striped table-bordered table-hover" 
                                paginationLength=true>
                                <thead>
                                    <tr>
                                        <th [style.width]="'175px'" data-hide="mobile-p">Id</th>
                                        <th [style.width]="'15%'">User</th>
                                        <th [style.width]="'8%'">Plan</th>
                                        <th [style.width]="'8%'">Frequency</th>
                                        <th [style.width]="'10%'">Status</th>
                                        <th [style.width]="'10%'">Start</th>
                                        <th [style.width]="'10%'">End</th>
                                        <th data-class="expand">Created</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>User</th>
                                        <th>Plan</th>
                                        <th>Frequency</th>
                                        <th>Status</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Created</th>
                                    </tr>
                                </tfoot>
                            </sa-datatable>

                        </div>
                    </div>
                </div>

            </article>
        </div>

    </sa-widgets-grid>
</div>