<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs
      [items]="['User', 'Details', user._id]"
      icon="pencil-square-o"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
    ></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">
      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [deletebutton]="false"
        >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>{{ isUpdate ? 'Edit' : 'Create A New User' }}</h2>
          </header>

          <!-- widget div-->
          <div>
            <form
              #userDetailsForm="ngForm"
              [saUiValidate]="validationOptions"
              novalidate="novalidate"
              (ngSubmit)="save(userDetailsForm.value)"
            >
              <div class="smart-form">
                <!-- widget content -->
                <div class="widget-body no-padding">
                  <fieldset>
                    <div class="row">
                      <section class="col col-6">
                        First Name:
                        <label class="input">
                          <input
                            type="text"
                            name="firstname"
                            placeholder="First name"
                            [(ngModel)]="user.firstName"
                          />
                        </label>
                      </section>
                      <section class="col col-6">
                        Last Name:
                        <label class="input">
                          <input
                            type="text"
                            name="lastname"
                            placeholder="Last name"
                            [(ngModel)]="user.lastName"
                          />
                        </label>
                      </section>
                    </div>
                  </fieldset>

                  <fieldset>
                    <div class="row">
                      <section class="col col-6">
                        Email:
                        <label class="input">
                          <i class="icon-append fa fa-envelope-o"></i>
                          <input
                            type="email"
                            name="email"
                            placeholder="Email address"
                            [(ngModel)]="user.email"
                          />
                          <b class="tooltip tooltip-bottom-right"
                            >Needed to verify your account</b
                          >
                        </label>
                      </section>
                      <section class="col col-6">
                        Username:
                        <label class="input">
                          <i class="icon-append fa fa-user"></i>
                          <input
                            type="text"
                            name="username"
                            id="username"
                            placeholder="Username"
                            [(ngModel)]="user.username"
                          />
                          <b class="tooltip tooltip-bottom-right"
                            >Username to login to admin</b
                          >
                        </label>
                      </section>
                    </div>
                  </fieldset>

                  <footer>
                    <button
                      type="button"
                      class="btn btn-default"
                      (click)="toList()"
                    >
                      Back to list
                    </button>
                    <button
                      type="button"
                      *ngIf="isUpdate"
                      disabled
                      class="btn btn-danger"
                      (click)="disableUser()"
                    >
                      Disable user
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save
                    </button>
                  </footer>
                </div>
                <!-- end widget content -->
              </div>
            </form>
            <br />
            <!-- widget content -->
            <div class="widget-body">
              <fieldset>
                <ul id="myTab1" class="nav nav-tabs bordered">
                  <li [class.active]="state.tabs.demo1 == 0">
                    <a (click)="state.tabs.demo1 = 0"
                      ><i class="fa fa-fw fa-lg fa-gift"></i> Wishlists</a
                    >
                  </li>

                  <li [class.active]="state.tabs.demo1 == 1">
                    <a (click)="state.tabs.demo1 = 1"
                      ><i class="fa fa-fw fa-lg fa-list"></i> Categories</a
                    >
                  </li>

                  <li [class.active]="state.tabs.demo1 == 2">
                    <a (click)="state.tabs.demo1 = 2"
                      ><i class="fa fa-fw fa-lg fa-user-plus"></i> Follows</a
                    >
                  </li>
                </ul>

                <tabset class="padding-10">
                  <tab [active]="state.tabs.demo1 == 0">
                    <div class="widget-body">
                      <sa-datatable
                        [options]="optionsTokenTable"
                        tableClass="table table-striped table-bordered table-hover"
                        paginationLength="true"
                      >
                        <thead>
                          <tr>
                            <th [style.width]="'250px'" data-hide="mobile-p">
                              ID
                            </th>
                            <th [style.width]="'8%'" data-hide="mobile-p">
                              Name
                            </th>
                            <th [style.width]="'8%'">User</th>
                            <th [style.width]="'8%'">Username</th>
                            <th [style.width]="'8%'">Email</th>
                            <th data-class="expand">Created</th>
                          </tr>
                        </thead>

                        <tfoot>
                          <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>User</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Created</th>
                          </tr>
                        </tfoot>
                      </sa-datatable>
                    </div>
                  </tab>
                </tabset>
              </fieldset>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- END COL -->
    </div>

    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
