<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs
      [items]="['Subscription', 'Plan', 'Details', subscriptionPlan._id]"
      icon="pencil-square-o"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
    ></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">
      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div
          sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [custombutton]="false"
          [deletebutton]="false"
        >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>{{ isUpdate ? 'Edit' : 'Create A New Subscription Plan' }}</h2>
          </header>

          <!-- widget div-->
          <div>
            <form
              #subscriptionPlanDetailsForm="ngForm"
              [saUiValidate]="validationOptions"
              novalidate="novalidate"
              (ngSubmit)="save(subscriptionPlanDetailsForm.value)"
            >
              <div class="smart-form">
                <!-- widget content -->
                <div class="widget-body no-padding">
                  <fieldset>
                    <div class="row">
                      <section class="col col-3">
                        Name
                        <label class="input">
                          <input
                            type="text"
                            name="name"
                            placeholder="Name"
                            [(ngModel)]="subscriptionPlan.name"
                          />
                        </label>
                      </section>
                      <section class="col col-3">
                        Description
                        <label class="input">
                          <input
                            type="text"
                            name="description"
                            placeholder="Description"
                            [(ngModel)]="subscriptionPlan.description"
                          />
                        </label>
                      </section>
                      <section class="col col-3">
                        Application
                        <ng-multiselect-dropdown
                          name="applicationId"
                          [placeholder]="'Select Application'"
                          [data]="applications"
                          [(ngModel)]="selectedApplication"
                          [settings]="dropdownSettingsApplication"
                        >
                        </ng-multiselect-dropdown>
                      </section>
                      <section class="col col-2">
                        Status
                        <ng-multiselect-dropdown
                          name="statusId"
                          [placeholder]="'Select Status'"
                          [data]="statusOptions"
                          [(ngModel)]="selectedStatus"
                          [settings]="dropdownSettingsStatus"
                        >
                        </ng-multiselect-dropdown>
                      </section>
                    </div>

                    <div class="row">
                      <section class="col col-3">
                        Expiration Date
                        <label class="input">
                          <input
                            type="text"
                            name="dateExpire"
                            id="dateExpire"
                            placeholder="Date Expires"
                            bsDatepicker
                            [bsValue]="subscriptionPlan.dateExpire"
                            [(ngModel)]="subscriptionPlan.dateExpire"
                            autocomplete="off"
                          />
                        </label>
                      </section>
                      <section class="col col-3"></section>
                      <section class="col col-2"></section>
                    </div>
                  </fieldset>

                  <footer>
                    <button
                      type="button"
                      class="btn btn-default"
                      (click)="toList()"
                    >
                      Back to list
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save
                    </button>
                  </footer>
                </div>
                <!-- end widget content -->
              </div>
            </form>

            <!-- Tab content -->
            <div class="widget-body">
              <ul id="myTab1" class="nav nav-tabs bordered">
                <li [class.active]="state.tabs.demo1 === 0">
                  <a (click)="state.tabs.demo1 = 0"
                    ><i class="fa fa-fw fa-lg fa-pencil-square"></i> Items</a
                  >
                </li>

                <li [class.active]="state.tabs.demo1 === 1">
                  <a (click)="state.tabs.demo1 = 1"
                    ><i class="fa fa-fw fa-lg fa-users"></i> Users</a
                  >
                </li>

              </ul>

              <tabset class="padding-10">
                <tab [active]="state.tabs.demo1 === 0">
                  <sa-datatable
                    [options]="optionsItemsTable"
                    tableClass="table table-striped table-bordered table-hover"
                    paginationLength="true"
                  >
                    <thead>
                      <tr>
                        <th [style.width]="'200px'" data-hide="mobile-p">Id</th>
                        <th [style.width]="'4%'">Name</th>
                        <th [style.width]="'8%'">Description</th>
                        <th [style.width]="'8%'">Amount</th>
                        <th [style.width]="'8%'">Sale Amount</th>
                        <th [style.width]="'4%'">Type</th>
                        <th [style.width]="'8%'">Limit</th>
                        <th data-class="expand">Created</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Sale Amount</th>
                        <th>Type</th>
                        <th>Limit</th>
                        <th>Created</th>
                      </tr>
                    </tfoot>
                  </sa-datatable>
                </tab>

                <tab [active]="state.tabs.demo1 === 1" class="smart-form">

                </tab>

              </tabset>
            </div>
            <!-- end Tab content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>

<!-- Subscription Plan Item Modal-->
<div
  bsModal
  #lgItemModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalItemLabel"
  aria-hidden="true"
>
  <form
    #subscriptionItemForm="ngForm"
    [saUiValidate]="validationItemOptions"
    novalidate="novalidate"
    (ngSubmit)="saveSubscriptionPlanItem(subscriptionItemForm.value)"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            (click)="lgItemModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Subscription Item</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="name"> Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Name"
                  name="name"
                  [(ngModel)]="subscriptionItem.name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="description"> Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  placeholder="Description"
                  name="description"
                  [(ngModel)]="subscriptionItem.description"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="fromEmail"> Amount</label>
                <input
                  type="text"
                  class="form-control"
                  id="amount"
                  placeholder="Amount"
                  name="amount"
                  [(ngModel)]="subscriptionItem.amount"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="saleAmount">Sale Amount</label>
                <input
                  type="text"
                  class="form-control"
                  id="saleAmount"
                  name="saleAmount"
                  placeholder="Sale Amount"
                  [(ngModel)]="subscriptionItem.saleAmount"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="typeId"> Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="typeId"
                  name="typeId"
                  [(ngModel)]="subscriptionItem.typeId"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="limit"> Limit</label>
                <input
                  type="text"
                  class="form-control"
                  id="limit"
                  name="limit"
                  [(ngModel)]="subscriptionItem.limit"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            (click)="lgItemModal.hide()"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">
            Save Item
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- //End Subscription Plan Item Modal -->
